@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* logo */
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Great+Vibes&family=Imperial+Script&family=Mea+Culpa&family=MonteCarlo&family=Niconne&family=Pinyon+Script&family=Rochester&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-black text-sm md:text-base lg:text-lg 2xl:text-xl;
  }
  .wrapper {
    @apply container mx-auto;
  }
  .section {
    @apply my-2 py-14 md:my-4 md:py-14 lg:my-4 lg:py-16 xl:my-4 xl:py-20 2xl:my-10 2xl:py-24;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-primary font-medium lg:font-semibold 2xl:font-black capitalize;
  }
  .h1 {
    @apply text-4xl lg:text-6xl 2xl:text-[78px];
  }
  .h2 {
    @apply text-3xl lg:text-5xl 2xl:text-[68px];
  }
  .h3 {
    @apply text-2xl lg:text-4xl 2xl:text-[52px];
  }
  .h6 {
    @apply font-extrabold text-[12px] lg:text-[14px] 2xl:text-[18px];
  }
  .btn {
    @apply tracking-wider px-8 py-2 font-semibold text-xs md:text-sm lg:text-base 2xl:text-lg transition;
  }
  .btn-primary {
    @apply capitalize py-3 bg-black text-white hover:bg-black/90 active:bg-black hover:drop-shadow-2xl hover:-translate-y-px active:translate-y-0;
  }
  .btn-secondary {
    @apply uppercase font-medium bg-transparent text-black border border-black text-[10px] md:text-[12px] 2xl:text-[14px] hover:bg-black hover:text-white lg:border-2 lg:font-semibold;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #FFE8D6;
}

::-webkit-scrollbar-thumb {
  background-color: #CB997E;
  border-radius: 10px;
}
